@import "~theme/_variables_mixins";

.provide-email-page {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo {
  ::ng-deep {
    img {
      width: 105px;
    }
  }
}

.provide-email {
  background-color: $white-color;
  &__section {
    padding: 30px 0px;
    text-align: center;

    &__header {
      h2 {
        margin-bottom: 0px;
        font-size: 34px;
        color: $ebony-clay-color;
        @media (max-width: 600px) {
          font-size: 24px;
        }
      }
      p {
        margin-top: 15px;
        margin-bottom: 0px;
        color: $comet-color;
      }
    }
    &__form {
      margin-top: 40px;
      &__sign-in {
        margin-top: 12px;
        a {
          font-size: 0.9rem;
          color: $royal-blue-color;
          text-decoration: underline;
        }
      }
    }
  }
}
