<div class="faculties-filters filters">
    <form (ngSubmit)="onSubmit(form)" novalidate [formGroup]="form" autocomplete="off" #filterForm="ngForm">
        <div class="row">
            <div class="col-12 filters__heading mb-2">
                <h3>Filter By:</h3>
            </div>
            <div class="col-12 col-sm-4">
                <app-input type="text" label="Search" formControlName="search" [control]="form.get('search')">
                </app-input>
            </div>
            <div class="col-12 col-sm-4 mt-2 mt-sm-0">
                <app-select label="University" placeholder="University" formControlName="universityId"
                    [control]="form.get('universityId')" [options]="(universities$ | async)" text="name"
                    [isLoading]="(isUniversitiesLoading$ | async)" (onChange)="onUniversityChange($event)">
                </app-select>
            </div>
            <div class="col-12 col-sm-4 mt-2 mt-sm-0">
                <app-select label="Status" placeholder="Status" formControlName="status" [control]="form.get('status')"
                    [options]="statusOptions" (onChange)="onStatusChange($event)">
                </app-select>
            </div>
        </div>
    </form>
</div>