<div class="container-fluid edit-profile-container-fluid">
    <div class="row justify-content-center">
        <div class="edit-profile-col">
            <div class="edit-profile box">
                <div class="edit-profile__heading">
                    <div class="edit-profile__heading__icon">
                        <mat-icon>assignment_ind</mat-icon>
                    </div>
                    <h2>Edit Profile</h2>
                </div>
                <div class="edit-profile__form">
                    <form (ngSubmit)="onSave(form)" novalidate [formGroup]="form" autocomplete="off">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <app-input type="text" label="Email ID*" formControlName="email"
                                    [control]="form.get('email')">
                                </app-input>
                            </div>
                            <div class="col-12 mt-3">
                                <app-input type="text" label="First Name*" formControlName="firstName"
                                    [control]="form.get('firstName')">
                                </app-input>
                            </div>
                            <div class="col-12 mt-3">
                                <app-input type="text" label="Last Name*" formControlName="lastName"
                                    [control]="form.get('lastName')">
                                </app-input>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-4">
                            <div class="col-7">
                                <app-button name="Update Profile" [disabled]="(isLoading$ | async)"
                                    [isLoading]="(isLoading$ | async)">
                                </app-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>