<div class="registration-page d-flex flex-column align-items-center justify-content-center">
    <div class="mb-4 logo">
        <lms-logo></lms-logo>
    </div>
    <div class="registration box w-500">
        <div class="registration__section">
            <div class="container">
                <div class="registration__section__header row text-center">
                    <h2 class="col-12">Sign Up</h2>
                    <p class="col-12">Create New Account</p>
                </div>
                <div class="registration__section__social">
                    <app-button name="Continue with Google" color="warn" iconType="fa" icon="fa-google">
                    </app-button>
                </div>
                <div class="registration__section__or text-center">
                    <span class="registration__section__or__text">OR</span>
                    <div class="registration__section__or__line"></div>
                </div>
                <div class="registration__section__form">
                    <form (ngSubmit)="onRegister(registerForm)" novalidate [formGroup]="registerForm"
                        autocomplete="off">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <app-input type="text" label="First Name" formControlName="firstName"
                                    [control]="registerForm.get('firstName')">
                                </app-input>
                            </div>
                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                <app-input type="text" label="Last Name" formControlName="lastName"
                                    [control]="registerForm.get('lastName')">
                                </app-input>
                            </div>
                            <div class="col-12 mt-4">
                                <app-input type="text" label="Email" formControlName="email"
                                    [control]="registerForm.get('email')" invalidErrMessage="This email already in use."
                                    [isLoading]="(isEmailExistLoading$ | async)"></app-input>
                            </div>
                            <div class="col-12 mt-4">
                                <app-input type="password" label="Password" formControlName="password"
                                    [control]="registerForm.get('password')"
                                    minLengthErrMessage="Password must be at least 8 characters."></app-input>
                            </div>
                            <div class="col-12 mt-4">
                                <app-input type="password" label="Confirm Password" formControlName="confirmPassword"
                                    [control]="registerForm.get('confirmPassword')"
                                    mustMatchErrMessage="Password doesn't match."></app-input>
                            </div>
                            <div class="col-12 mt-4">
                                <app-input type="number" label="Phone" formControlName="phone"
                                    [control]="registerForm.get('phone')">
                                </app-input>
                            </div>
                            <div class="col-12 mt-4">
                                <app-input type="input" mode="datepicker" label="Birthday" formControlName="birthday"
                                    [control]="registerForm.get('birthday')">
                                </app-input>
                            </div>
                            <div class="col-12 mt-4">
                                <app-select label="Gender" placeholder="Select Gender" formControlName="gender"
                                    [control]="registerForm.get('gender')" [options]="genderOptions">
                                </app-select>
                            </div>
                            <div class="col-12 mt-4">
                                <app-select label="Education Level" placeholder="Select Education Level"
                                    formControlName="educationLevel" [control]="registerForm.get('educationLevel')"
                                    [options]="educationLevelOptions">
                                </app-select>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-8 registration__section__form__submit">
                                <app-button name="Register" [disabled]="!registerForm.valid || (isLoading$ | async)"
                                    [isLoading]="(isLoading$ | async)"></app-button>
                            </div>
                            <div class="d-flex justify-content-center col-12 mt-2 registration__section__form__terms">
                                <p>I agree to the <a href="javascript:void(0);">Terms of Use</a></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="registration__section__footer mt-2 row">
                    <div class="col-12 d-flex justify-content-center">
                        Already signed up? <a href="#/auth/login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>