@import "~theme/_variables_mixins";

.change-password-container-fluid {
  margin-top: 60px;
}

.change-password-col {
  width: 420px;
  @media (max-width: 520px) {
    width: 95%;
  }
}

.change-password {
  padding: 40px 30px;
  background-color: $white-color;
  &__heading {
    text-align: center;
    margin-bottom: 30px;
    &__icon {
      .mat-icon {
        font-size: 60px;
        width: 60px;
        height: 60px;
        color: $cerulean-color;
      }
    }
    h2 {
      font-size: 2rem;
    }
  }
}
