<div class="container-fluid change-password-container-fluid">
    <div class="row justify-content-center">
        <div class="change-password-col">
            <div class="change-password box">
                <div class="change-password__heading">
                    <div class="change-password__heading__icon">
                        <mat-icon>lock_open</mat-icon>
                    </div>
                    <h2>Change Password</h2>
                </div>
                <div class="change-password__form">
                    <form (ngSubmit)="onSave(form)" novalidate [formGroup]="form" autocomplete="off">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <app-input type="password" label="Old Password*" formControlName="oldPassword"
                                    [control]="form.get('oldPassword')">
                                </app-input>
                            </div>
                            <div class="col-12 mt-4">
                                <app-input type="password" label="New Password*" formControlName="newPassword"
                                    [control]="form.get('newPassword')" [patternErrMessage]="invalidPasswordMessage"
                                    [mustNotMatchErrMessage]="passwordMatchMessage">
                                </app-input>
                            </div>
                            <div class="col-12 mt-4">
                                <app-input type="password" label="Confirm Password*" formControlName="confirmPassword"
                                    [control]="form.get('confirmPassword')"
                                    [mustMatchErrMessage]="passwordNotMatchMessage">
                                </app-input>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-4">
                            <div class="col-7">
                                <app-button name="Update Password" [disabled]="(isLoading$ | async)"
                                    [isLoading]="(isLoading$ | async)">
                                </app-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>