// FONTS
$primary-font-family: "Muli", sans-serif;
$seconday-font-family: "Roboto Slab", sans-serif;

// Colors
$blue-color: #009efb;
$green-color: #22a471;
$white-color: #ffffff;
$black-color: #000000;
$red-color: #f44336;
$royal-blue-color: #4540de;
$porcelain-color: #f5f6f7;
$iron-color: #ced0d5;
$ebony-clay-color: #1f2430;
$alabaster-color: rgba(248, 248, 248, 0.21);
$dusty-gray-color: rgba(151, 151, 151, 0.22);
$comet-color: #51596c;
$mischka-color: #dadce1;
$white-lilac-color: #fafbfd;
$botticelli-color: #d6e2ec;
$blue-bayoux-color: #597084;
$mercury-color: #e6e6e6;
$big-stone-color: #171b3d;
$french-gray-color: #b7bbc4;
$wild-sand-color: #f6f6f6;
$spring-green-color: #00ef72;
$cerulean-color: #0bbccd;
$silver-sand-color: #b8bdc2;

// Background Colors
$body-bg-color: $porcelain-color;

// Text Colors
$text-color: $ebony-clay-color;
$input-text-color: $ebony-clay-color;

// Width & Height
$header-height: 90px;
$sidebar-width: 290px;
