<div class="layout">
    <div class="layout__header">
        <lms-student-header></lms-student-header>
    </div>
    <div class="layout__content">
        <mat-sidenav-container>
            <mat-sidenav [mode]="(sideNavMode$ | async)" [opened]="isSideNavOpened">
                <lms-student-sidebar></lms-student-sidebar>
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>