<section class="page-not-found section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-danger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container pt-lg-md">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <h2 class="page-not-found__heading">404</h2>
                <p class="page-not-found__message">WE ARE SORRY, BUT THE PAGE YOU REQUESTED WAS NOT FOUND.</p>
                <button class="btn btn-warning" (click)="onGoHome()">GO HOME</button>
            </div>
        </div>
    </div>
</section>