<div class="verify-otp-page d-flex flex-column align-items-center justify-content-center">
    <div class="mb-4 logo">
        <lms-logo></lms-logo>
    </div>
    <div class="verify-otp box w-500 mx-auto">
        <div class="verify-otp__section d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="verify-otp__section__header">
                    <h2>Please enter your otp to confirm your email!</h2>
                    <p>We have sent the otp to {{email}}</p>
                </div>
                <div class="verify-otp__section__form">
                    <lms-verify-otp-form></lms-verify-otp-form>
                </div>
            </div>
        </div>
    </div>
</div>